{
  "branches": [
    "main",
    {
      "name": "ol7",
      "prerelease": "ol7",
      "channel": "ol7"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
